@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--body-font);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
}

h1 {
    font-size: var(--heading-h1);
    font-weight: var(--font-weight-bold);
}